.panel-heading h3 {
	display: inline-block;
	margin-left: 1em;
}

#addressResult .form-group {
	margin: 0;
}

#addressResult .form-group:nth-child(n) input {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-width: 0;
}

#addressResult .form-group:first-child input {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#addressResult .form-group:last-child input {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-width: 1px;
}

#expiryMMcontainer {
	padding-right: 0;
}

#expiryMM {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#expiryYYcontainer {
	padding-left: 0;
}

#expiryYY {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0;
}

.productName, .productPrice {
	line-height: 1.5em;
	margin: 0;
}

.productPrice {
	color: #337ab7;
}

.quantity, .size {
	margin-top: 5px;
}

.list-group-item {
	padding: 15px;
}

#progress {
	//font-size: 0.8em;
	text-align: center;
	margin: 30px 0 20px;
	padding: 0 0 10px;
	border-bottom: 1px solid #CCC;
}

#progress .label {
	font-size: 1.2em;
	border-radius: 50%;
}

#progress .current p {
	font-weight: 700;
}

#progress p {
	margin: 10px 0;
}

#errors {
	background: rgb(228, 64, 64);
	margin: 0px -15px 20px;
	padding: 15px;
	color: white;
	font-size: 1.2em;
}